soal1.shp
soal2.shp
soal3.shp
soal4.shp
soal5.shp
soal6.shp
soal7.shp
soal8.shp
soal9.shp
soal10.shp
testPush.txt
practice1/practice1.py
practice1/soal1.dbf
practice1/soal1.shx
practice10/practice10.py
practice10/soal10.dbf
practice10/soal10.shx
practice2/practice2.py
practice2/soal2.dbf
practice2/soal2.shx
practice3/practice3.py
practice3/soal3.dbf
practice3/soal3.shx
practice4/practice4.py
practice4/soal4.dbf
practice4/soal4.shx
practice5/practice5.py
practice5/soal5.dbf
practice5/soal5.shx
practice6/practice6.py
practice6/soal6.dbf
practice6/soal6.shx
practice7/practice7.py
practice7/soal7.dbf
practice7/soal7.shx
practice8/practice8.py
practice8/soal8.dbf
practice8/soal8.shx
practice9/practice9.py
practice9/soal9.dbf
practice9/soal9.shx
testPush.txt
